numpy==2.4.4
pandas==3.0.2
matplotlib==3.10.8
seaborn==0.13.2
scikit-learn==1.8.0
scipy==1.17.1
networkx==3.6.1
python-igraph
leidenalg
Sastrawi
umap-learn
hdbscan
bertopic==0.17.4
sentence-transformers
torch
joblib
powerlaw
